/* 
TODO: fix overflow by using grid layout and setting overflow to be not visible
*/

*, *::before, *::after {
    box-sizing: border-box;
} 

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

#container {
    height: 100%;
}

#anchor {
    width: 0;
}

#toolbar {
    padding: 5px;
}

.handle {
    width: 21px;
    height: 17px;
    background-color: #CCDDDD;
    cursor: pointer;
}

.title {
    margin: 2px 0 0 0;
    user-select: none;
    font: 12px arial;
}

.hidden {
    display: none;
}